/* header style */
* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* header style */
header {
    background-image: url('../images/donation4.jpg'), url('../images/gradient2.png');
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
}

/* banner style */
.banner {
    text-align: center;
    margin-bottom: 150px;

}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    text-align: center;
    padding: 20px 150px;
    padding-top: 174px;

}

.banner-detail {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    padding: 40px 300px;
    padding-top: 40px;


}

/* button style */
.btn-red {
    background: #FF5959;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    padding: 10px 18px;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 100px;
    border: 0;

}

/* donate and plan style */
.donate {
    text-align: center;
}

.donate-title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 45px;
    color: #121212;
}

.donate-detail {
    font-weight: 400;
    font-size: 18px;
    color: #707070;
    padding: 10px 300px;
    margin-bottom: 50px;
}

/* amounts style */
.amounts {
    margin-bottom: 80px;
}

.amount {
    display: flex;
    justify-content: space-evenly;
    padding: 60px 200px;
    padding-right: 100px;
    gap: 20px;

}

.amount-number {
    margin-bottom: 20px;

}

.amount-title {
    font-weight: 700;
    font-size: 30px;
    padding: 42px;
    border: 0px;
    border-radius: 5px;
    background: #FAFAFA;
    color: #707070;

}

#amount-red {
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
    padding: 44px 42px;
    font-weight: 700;
    font-size: 30px;
}

/* input-amount style */

.input-amount {
    text-align: center;
    padding: 60px 200px;

}

.input {
    font-weight: 400;
    font-size: 18px;
    color: #B3B3B3;
    padding: 15px 50px;
    border: 0;
}

/* item style */
.items {
    padding: 20px 120px;
    margin-bottom: 80px;
}

.item {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;

}

.item-food {
    text-align: left;
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
    padding: 10px 20px;
    padding-top: 50px;
    padding-bottom: 28px;
}

.item-shelter {
    text-align: left;
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
    padding: 10px 20px;
    padding-top: 50px;
    padding-bottom: 28px;

}

.item-frame {
    text-align: left;
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
    padding: 10px 20px;
    padding-top: 50px;
    padding-bottom: 28px;

}

.item-title {
    font-weight: 600;
    font-size: 24px;
    color: #121212;
    margin-top: 20px;
    margin-bottom: 20px;

}

.item-detail {
    font-weight: 400;
    font-size: 16px;
    color: #707070;

}

/* contribution */
.contribution {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 130px;
    margin-bottom: 180px;
}

.contribution-text {
    margin-top: 100px;
    text-align: left;
    left: 80px;

}

.contribution-title {
    font-weight: 700;
    font-size: 30px;
    padding-right: 80px;
    color: #121212;
    margin-bottom: 10px;

}

.contribution-image {
    width: 50%;
    height: 17px;


}

.contribution-detail {
    font-weight: 400;
    font-size: 18px;
    color: #707070;
    margin-bottom: 10px;
}

/* update style */
.update {
    text-align: center;
    padding: 20px 130px;
    margin-bottom: 100px;
}

.update-title {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 10px;
}

.update-detail {
    font-weight: 400;
    font-size: 18px;
    padding: 10px 150px;
    align-items: center;
    color: #707070;
}

/* email style */

.email{
    margin: 25px 180px;
    padding: 50px 120px;
    background: #FFF4D6;
    border-radius: 5px;
    margin-bottom: 120px;
    
}
.email-input{
    padding: 10px 100px;
}
/* footer style */
.footer{
    color: #FFFFFF;
    background: #0B0D17;
}
.footer-part{
    text-align: center;
    padding: 80px;
}
.footer-title{
    color: #FF5959;
    margin-bottom: 20px;
}